{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block css %}
<style>
    input[type="number"]
{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}
</style>
{% endblock %}
<div class="container d-flex justify-content-center"  style="margin-top: 7em; " > 
    <div class="col-lg-10">
        <div id='calendar' ></div>
        </div>
    <!--{#{% for t in turnos %}
        {{t.user_id}} <br>
        {{ t.fecha_ini | date:"c" }} <br>
        {{ t.fecha_fin | date:"Y-m-d h:i A" }} <br>
    {% endfor %}
    #}-->
    
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
<div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
    <!-- <img src="..." class="rounded me-2" alt="..."> -->
    <strong class="me-auto">&#128076; Evento</strong>
    <small>Ahora</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Evento creado con exito.
    </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Reserva</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Usuario de la reserva: <p id="titulo"></p>
        <!--Inicio de reserva: <p id="date"></p>-->
        <!--Fin de reserva: <p id="datef"></p>-->
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
    </div>
    </div>
</div>
<!-- MODAL 2 ROBADO -->
<div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Reservando...</h5>
                <button id="modalClose1" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{% url 'crear_turno' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Usuario quien reserva:</label> <br>
                        <p>{{ user.first_name }} {{user.last_name}}</p>
                        <input type="number" name="user_id" id="user_id" value="{{ user.id }}" hidden>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">En el predio:</label>
                        <p> {{ cancha }}</p> 
                        
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Start Date:</label>
                        <p id="fec_ini"></p>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">End Date:</label>
                        <p id="fec_fin"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modalClose2" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
          /*initialView: 'dayGridMonth',*/
          expandRows: true,
          /*height: '100%',*/
          initialView: 'timeGridWeek',
          headerToolbar: {
              left: 'prev,next',
              //left: 'next',
              center: 'title',
              right: '',
            },
          editable: true,
          selectable: true,
          slotDuration: '01:00' ,
          slotMinTime:  '08:00',
          allDaySlot:   false,
          firstDay: numeroDia(),
          footerToolbar: true,
          dateClick: function(info) {
              let hoy = new Date();
              hoy.setHours(hoy.getHours()-3);
              hoy = hoy.toJSON();        
              //alert('clicked ' + info.dateStr);
              if(info.dateStr<hoy)
                alert("no puede alquilar en este horario")
              else
                mostrarModalRobado(info)
                //alert("puede alquilar")
              /*var fi = info.startStr;
              fi = fi.split("-")[2];
              alert(fi);*/
              
                //agregarEventoS(info.dateStr);
              //info=null;
          },
          select: function(info) {
              //alert('selected ' + info.startStr + ' to ' + info.endStr);
              /*var fi = info.startStr;fi = fi.split("-")[2];*/
              /*var fh = info.endStr; fh = fh.split("-")[2];*/
              //alert(Number(fi)+1!=Number(fh));
              /*if(Number(fi)+1!=Number(fh)){
                  //alert(fi);
                  agregarEventoM(info.startStr,info.endStr);
              }*/
          },
          eventClick: function(info) {
              //alert('Event: ' + info.event.title);
              //alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
              //alert('View: ' + info.view.type);
              //alert('dia: ' + info.event.startStr )
              mostrarModalInfo(info);
              // change the border color just for fun
              info.el.style.borderColor = 'red';
          },
          events:[
                {% for t in turnos %}
                    {
                        title: '{{ t.user_id }}', // a property!
                        start: '{{ t.fecha_ini | date:"c"  }}', // a property
                        end:   '{{ t.fecha_fin | date:"c" }}'
                    },
                {% endfor %}
          ],
      });
      
      calendar.render();
      calendar.setOption('locale', 'es');
      
      function numeroDia(){
        //let hoy = new Date();
        //hoy.setHours(hoy.getHours()-3);
        //hoy.

        //var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        var d = new Date();
        //alert(d.getDay())
        //var dayName = days[d.getDay()];
        //alert(days.indexOf(d.getDay()))
        return d.getDay();
      }
      function agregarEventoS(fecha){
          //alert("envento single")
          //var dateStr = prompt('Enter a date in YYYY-MM-DD format');
          var date = new Date(fecha + 'T00:00:00'); // will be in local time
          if (!isNaN(date.valueOf())) { // valid?
              //var rta = prompt(' titulo del evento');
              //mostrarModal("Agregar titulo de evento de un día.");
              terminar1(date)
              /*calendar.addEvent({
                  //title: 'dynamic event',
                  title: rta,
                  start: date,
                  allDay: true
              });*/
              //alert('Great. Now, update your database...');
              //mostrarT();

          } else {
          alert('Invalid date.');
          }
          //alert(calendar.getEvents().length) se agregan dinamicamente los 
      };
      function agregarEventoM(ini,fin){
          //alert("evento M");
          //var dateStr = prompt('Enter a date in YYYY-MM-DD format');
          var date1 = new Date(ini + 'T00:00:00'); // will be in local time
          var date2 = new Date(fin + 'T00:00:00'); // will be in local time
          //mostrarModal("Escribir titulo del evento de días multiples");
          if (!isNaN(date1.valueOf())&&!isNaN(date2.valueOf())) { // valid?
              terminar2(date1,date2)
              //var rta = prompt(' titulo del evento');
              /*calendar.addEvent({
                  //title: 'dynamic event',
                  title: rta,
                  start: date1,
                  end:   date2,
                  allDay: true
              });*/
              //alert('Great. Now, update your database...');
              //mostrarT();
          } else {
              alert('Invalid date.');
          }
      };
      //alert(calendar.getEvents().length)
      function mostrarT(){
          const toastLiveExample = document.getElementById('liveToast')
          const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
          toastBootstrap.show();
      };
      function mostrarModal(titulo){
          var tit = document.getElementById('exampleModalLabel');
          tit.innerHTML = titulo;
          var myModalEl = document.querySelector('#exampleModal')
          var modal = bootstrap.Modal.getOrCreateInstance(myModalEl) // Returns a Bootstrap modal instance
          modal.show();
      };
      function mostrarModalRobado(info){
          //var tit = document.getElementById('eventModal');
          //tit.innerHTML = titulo;
          var myModalEl = document.querySelector('#eventModal')
          var modal = bootstrap.Modal.getOrCreateInstance(myModalEl) // Returns a Bootstrap modal instance
          //var cancha = document.getElementById('cancha');
          //cancha.innerHTML = '{{ cancha }}'
          var fec_i = document.getElementById('fec_ini');
          fec_i.innerHTML = info.dateStr;
          /*var fec_f = document.getElementById('fec_fin');
          let str = ""+info.dateStr;
          let nuevo = str.split('T')[1]
          let n = nuevo.split(':')[1]
          fec_f.innerHTML = nuevo;*/
          var fec_fin = new Date(info.dateStr);
          fec_fin.setMinutes(fec_fin.getMinutes()+59)
          var fec_f = document.getElementById('fec_fin');
          fec_f.innerHTML = fec_fin
          modal.show();
      };
      function terminar1(date){
          //DANDOLE OTRA FUNCION A LOS BOTONES
          //const myModalEl = document.getElementById('exampleModal');
          //myModalEl.addEventListener('hidden.bs.modal', event => {
          //    var rta = document.getElementById("tituloEvento").value;
          var rta = prompt("titulo del evento");
              if(rta){
                  //document.getElementById("tituloEvento").value;
                  //alert(rta); 
                  calendar.addEvent({
                  //title: 'dynamic event',
                      title: rta,
                      start: date,
                      allDay: true
                  });
                  //document.getElementById("tituloEvento").value = '';
                  //var input = document.getElementById("tituloEvento");
                  //input.value = "";
                  mostrarT();
                  date = null;
              }
              else alert("no escribio nada");
          //})
      };
      function terminar2(date1,date2){
          //DANDOLE OTRA FUNCION A LOS BOTONES
          //const myModalEl = document.getElementById('exampleModal');
          //myModalEl.addEventListener('hidden.bs.modal', event => {
          //    var rta = document.getElementById("tituloEvento").value;
          var rta = prompt("titulo del evento");
              if(rta){
                  //document.getElementById("tituloEvento").value;
                  //alert(rta); 
                  calendar.addEvent({
                  //title: 'dynamic event',
                      title: rta,
                      start: date1,
                      end:   date2,
                      allDay: true
                  });
                  //document.getElementById("tituloEvento").value = "";
                  //$('#tituloEvento').val('');
                  mostrarT();
                  date1 = null;
                  date2 = null;
              }
              else alert("no escribio nada");
          //})
      };
      function mostrarModalInfo(info){
          var myModalEl = document.querySelector('#exampleModal')
          var modal = bootstrap.Modal.getOrCreateInstance(myModalEl) // Returns a Bootstrap modal instance
          //alert('Event: ' + info.event.title);
          modal.show();
          
              //alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
              //alert('View: ' + info.view.type);
              //alert('dia: ' + info.event.startStr )
          document.getElementById('titulo').innerHTML = info.event.title;
          //document.getElementById('date').innerHTML = info.event.startStr;
          //document.getElementById('datef').innerHTML = info.event.endStr;
      }
    });
    
  </script>

{% endblock %}

<!-- MODAL 2 ROBADO -->
<div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Add New Event</h5>
                <button id="modalClose1" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Event Title:</label>
                        {{ form.user_id }} 
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        {{ form.cancha_id }}
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Start Date:</label>
                        {{ form.fecha_ini }}
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">End Date:</label>
                        {{ form.fecha_fin }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modalClose2" type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>